# Python Intro

### python

## basics

### Jupyter

`About Python`<br>
**Python** is a language<br>
It consists of many packages<br>
-numpy<br>
-pandas<br>

---
This is an ordered list<br>
1.julia<br>
2.python<br>
3.R<br>

`if True:
    print('hello')
 else:
     printf('bye')`
 [programming](https://www.javatpoint.com/)

![pythonimg](apple.png)

$e^{i/pi}+1=0$

<div class="alert alert-block alert-success">
    <b>Tips:</b>Use green box for this message.
    If its note write it directly</b>
    </div>

<div class="alert alert-block alert-info">
    <b>Tips:</b>Use blue box for this message.
    If its note write it directly</b>
    </div>

<div class="alert alert-block alert-warning">
    <b>Tips:</b>Use orange box for this message.
    If its note write it directly</b>
    </div>

In [3]:
print('hello world')

hello world

In [7]:
import time
time.sleep(3)

In [9]:
9+5

14

In [11]:
print(12*9)
print(54/5)
print(13*12)

108
10.8
156

In [12]:
10/2,5/5.8*9

(5.0, 7.758620689655173)

In [13]:
m=int(input("Enter some number"))

Enter some number5

In [14]:
type(m)

int

In [15]:
name=input("Enter a name")

Enter a namejahnavi

In [18]:
name

'cse'

In [17]:
name="cse"

In [20]:
print(5*name)

csecsecsecsecse

In [21]:
True+False

1

In [27]:
li=list(range(10,100,4))
print(li,end = " ")

[10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50, 54, 58, 62, 66, 70, 74, 78, 82, 86, 90, 94, 98]

In [29]:
tu=tuple([4,9])
tu

(4, 9)

In [30]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [31]:
dir(tu)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [32]:
help(li.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [35]:
li.extend([12,4])
print(li,end="")

[10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50, 54, 58, 62, 66, 70, 74, 78, 82, 86, 90, 94, 98, 12, 4, 12, 4]

In [40]:
for i in range(len(li)):
    li[i]+=5
print(li)

[15, 19, 23, 27, 31, 35, 39, 43, 47, 51, 60, 59, 63, 67, 76, 75, 79, 83, 92, 91, 95, 99, 108, 17, 9, 17, 14]

In [42]:
li=[i-5 for i in li]
print(li,end="")

[5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 50, 49, 53, 57, 66, 65, 69, 73, 82, 81, 85, 89, 98, 7, -1, 7, 4]

In [45]:
for i in range(len(li)):
    if(li[i]%5==0):
        print('True',end=" ")
    else:
        print('False',end=" ")

True False False False False True False False False False True False False False False True False False False False True False False False False False False

In [47]:
mask=[i%5==0 for i in li]
print(mask,end=" ")

[True, False, False, False, False, True, False, False, False, False, True, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False, False]

In [48]:
mask=[not(i%5) for i in li]
print(mask,end=" ")

[True, False, False, False, False, True, False, False, False, False, True, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False, False]

In [49]:
bool(-1)

True

In [52]:
bool(-100)

True

In [53]:
bool(0)

False

In [54]:
bool(True)

True

In [60]:
name=["M Jahnavi", "K Swetha","T Poojitha","N Teju"]
print(name)

['M Jahnavi', 'K Swetha', 'T Poojitha', 'N Teju']

In [59]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [71]:
def proper(x):
    x=x.split()
    return x[1][0].upper()+x[1][1:].lower()+' '+x[0].upper()
friends=[proper(x) for x in name]
print(friends)

['Jahnavi M', 'Swetha K', 'Poojitha T', 'Teju N']

In [77]:
d = {i:i*i for i in range(11,22,10)}
d

{11: 121, 21: 441}

In [78]:
dic={k:v%4==0 for k,v in d.items()}
dic

{11: False, 21: False}

In [79]:
dic.items()

dict_items([(11, False), (21, False)])

In [12]:
name={"jahnavi":1223982,"swetha":949211057}

In [13]:
def mobile(n):
    n=str(n)
    l=len(n)
    if l==10:
        return int(n)
    elif l>10:
        return int(n[:10])
    else:
        return int(n+'9'*(10-l))
def contact(s):
    return s.title()

In [14]:
name={contact(k):mobile(v) for k,v in name.items()}

name

{'Jahnavi': 1223982999, 'Swetha': 9492110579}

In [15]:
even = lambda n:True if n%2==0 else False
even(7)

False

In [16]:
even(10)

True

In [17]:
values=[10,15,23]
list(map(even,values))

[True, False, False]

In [20]:
values=['10','15','23']
values=list(map(int,values))
values

[10, 15, 23]

In [22]:
s='10 22 32 44'
#s=s.split()
s=list(map(int,s.split()))
s

[10, 22, 32, 44]

In [33]:
l1=[6,7,8,9]
l2=[1,2,3,4]
l3=list()
for i in range(len(l1)):
    l3.append(l1[i]*l2[i])
l3

[6, 14, 24, 36]

In [34]:
m=list(map(lambda a,b: a*b,l1,l2))
m

[6, 14, 24, 36]

In [35]:
even_numbers=list(filter(even,[88,55,54]))
even_numbers

[88, 54]

In [36]:
dir(filter)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [37]:
names=["jaan","janu","roshini"]
names

['jaan', 'janu', 'roshini']

In [38]:
help(str.startswith)

Help on method_descriptor:

startswith(...)
    S.startswith(prefix[, start[, end]]) -> bool

    Return True if S starts with the specified prefix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    prefix can also be a tuple of strings to try.

In [56]:
def check(s):
    return s.startswith('S')

In [51]:
list(filter(check,names))

['roshini']

In [52]:
contact

In [53]:
name

{'Jahnavi': 1223982999, 'Swetha': 9492110579}

In [74]:
def check_dic(s):
    return s[0] in 'S'
check_dic("Sreeja")

True

In [82]:
name_dic=list(filter(check_dic,name.keys()))
name_dic

['Swetha']

In [83]:
l=[]
for i in name_dic:
    l.append(name[i])
l

[9492110579]